@page "/p"
@page "/plugins"

@inject YumeCore BotService
@attribute [Authorize(Roles = UserRoles.Admin)]

@using YumeChan.PluginBase;

<h1>Plugins</h1>
<br />
<h3>Currently Loaded : @BotService.CommandHandler.Plugins.Count Plugins</h3>
<br />

<table class="table table-hover">
	<thead>
		<tr>
			<th>Assembly</th>
			<th>Plugin Name</th>
			<th>Version</th>
			<th>Active</th>
		</tr>
	</thead>

	<tbody>
		@foreach (IPlugin pluginManifest in BotService.CommandHandler.Plugins)
		{
			<tr>
				<td><a href="/p/@pluginManifest.AssemblyName/">@pluginManifest.AssemblyName</a></td>
				<td>@pluginManifest.DisplayName</td>
				<td>@pluginManifest.Version</td>
				<td>@(pluginManifest.Loaded ? "Yes" : "No")</td>
			</tr>
		}
	</tbody>
</table>